<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPSA Rosters</title>
    <script src="https://cdn.jsdelivr.net/npm/iframe-resizer@4/js/iframeResizer.contentWindow.min.js"></script>
    <link rel="stylesheet" href="https://css.gpsaswimming.org/gpsa-swimtopia-iframe.css">
    <link rel="stylesheet" href="https://css.gpsaswimming.org/gpsa-main.css">
</head>
<body>
<h2 id="top">Rosters</h2>
<table id="divisions">
<tbody>
<tr>
	<th><a href="https://www.gpsaswimming.org/meet-schedule#red" target="_parent">Red Division</a></th>
	<th><a href="https://www.gpsaswimming.org/meet-schedule#white" target="_parent">White Division</a></th>
	<th><a href="https://www.gpsaswimming.org/meet-schedule#blue" target="_parent">Blue Division</a></th>
</tr>
<tr>
{% for division in divisions %}
	<td>
{% for team in division %}
		<a href="{{ team.url }}" target="_parent">{{ team.name }}</a><br>
{% endfor %}
	</td>
{% endfor %}
</tr>
</tbody>
</table>
</body>
</html>
