<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPSA {{ year }} Meet Schedules</title>
    <script src="https://cdn.jsdelivr.net/npm/iframe-resizer@4/js/iframeResizer.contentWindow.min.js"></script>
    <link rel="stylesheet" href="https://css.gpsaswimming.org/gpsa-swimtopia-iframe.css">
    <link rel="stylesheet" href="https://css.gpsaswimming.org/gpsa-main.css">
</head>
<body>
<h2>{{ year }} Meet Schedules</h2>
</body>
</html>
