<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPSA {{ division_title }} Division Schedule</title>
    <script src="https://cdn.jsdelivr.net/npm/iframe-resizer@4/js/iframeResizer.contentWindow.min.js"></script>
    <link rel="stylesheet" href="https://css.gpsaswimming.org/gpsa-swimtopia-iframe.css">
    <link rel="stylesheet" href="https://css.gpsaswimming.org/gpsa-main.css">
</head>
<body>
<div>
<h3><a id="{{ division }}"></a>{{ division_title }} Division</h3>
<table id="meet_schedule">
<tbody>
<tr>
	<th style="width:33%">DATE</th>
	<th style="width:33%">HOME</th>
	<th style="width:34%">VISITOR</th>
</tr>
{% for group in date_groups %}
{% for meet in group.meets %}
<tr>
{% if loop.first %}
	<td rowspan="{{ group.meets|length }}">{{ group.date }}</td>
{% endif %}
	<td>{{ meet.home }}</td>
	<td>{{ meet.visitor }}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
<p style="margin-top: 1em; display: flex; justify-content: space-between;"><a href="https://results.gpsaswimming.org/{{ year }}/#{{ division }}" target="_blank">View Meet Results</a><a href="https://www.gpsaswimming.org/meet-schedule#top" target="_parent">Back to top of page</a></p>
</div>
</body>
</html>
